.b {
    color: green;
}

.c {
    color: red;
    float: left;
    margin-right: 10px;
}

.icon {
    display: flex;
    justify-content: space-around;
}

.a {
    display: flex;
    justify-content: space-between;
}

.d {
    display: flex;
    justify-content: space-around;
}
