.a{
    background-color:rgb(0, 117, 250) ;
}
.bg{
    background-color: rgb(80, 149, 253);
}
.w{
    background-color:rgb(0, 117, 250) ;
}
.main{
    background-image: url("../assets/img/logo.png");
}